<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Caesar Cipher</title>
    <style>
    body {background-color: powderblue;}
    h1   {color: white;}
    p    {color: black;}
    </style>
  </head>
  <center>
  	<body>
  	<h1> CAESAR CIPHER </h1>
  	<p> Please enter the sentence you wish to encrypt </p>
  	<form>
  		<input type="text" name="string" />
  		<p>Enter the shift factor</p>
  		<input type="number" name="shift" value="0" />
  		<input type="submit" value="Encrypt" />
  	</form>
  		<p> 
  		The encrypted string is <strong><%= result %> </strong> 	
  	   </p>
  </body>
</center>
</html>
